<% provide(:title, 'Über uns') %>
<h1>Über uns</h1>
<p>
  Die Gruppenstunden Datenbank ist im Rahmen des jubla.bewegt Projekts der Relei Brugg entstanden.
</p>
<%= link_to image_tag("jubla.bewegt.wurfel.png", alt: "jubla.bewegt", height: 100), 'http://www.jubla.ch/aktivitaeten/projekte/jublabewegt' %>
<%= link_to image_tag("releibrugg.png", alt: "Relei Brugg", height: 100), 'http://releibrugg.ch/' %>
<%= link_to image_tag("jubla.bewegt.ball.png", alt: "jubla.bewegt", height: 100), 'http://www.jubla.ch/aktivitaeten/projekte/jublabewegt/jublabewegt_projekte/projekte_strategie_3/regionalleitung_brugg_ag/' %>
<%= link_to image_tag("jubla.png", alt: "Jubla", height: 100), 'http://jubla.ch/' %>