<div class="center jumbotron">
  <h1>Willkommen auf der Gruppenstunden Datenbank</h1>

  <p>Da aus dieser Idee nun ein nationales Projekt wurde, wir diese Seite ab sofort nicht mehr unterhalten.</p>
  <p>Das neue Projekt heisst Spielkatapult und ist im Moment noch in der Beta-Phase <a href="http://spielkatapult.herokuapp.com/">hier</a> zu finden.</p>

  <p>Vielen Dank für die Ideen, welche ihr hier erfasst habt und ich hoffe ihr besucht auch mal die neue Seite.</p>
  <p>Falls möglich werden die Ideen von hier auch in das Spielkatapult übernommen.</p>
</div>
