<div class="jumbotron">
  <h1 class="center">GruppenstundenDB wird zum Spielkatapult</h1>

  <p>Da die Nachfrage nach einer Gruppenstunden Datenbank nun auch national vorhanden ist, wurde aus dieser 
  Idee nun ein nationales Projekt, welches Spielkatapult heisst und sich im Moment noch in der Beta-Phase befindet.</p>
  
  <p class="center"><a href="http://spielkatapult.herokuapp.com/" class="btn btn-primary btn-lg">Zum Spielkatapult</a></p>
  
  <p>Vielen Dank für die Ideen, welche ihr hier erfasst habt und ich hoffe ihr besucht auch mal die neue Seite.
  Wir versuchen möglichst viele der Ideen von hier in das Spielkatapult zu übernehmen.</p>
  
  <p>Somit wird nun diese Seite nicht mehr weiter entwickelt und auch nicht mehr unterhalten. Vielen Dank für euer Verständniss.</p>
</div>
