<script>
    $(function() {
        $( "#slider-age" ).slider({
            range: true,
            min: 0,
            max: 30,
            values: [ <%= @filter.age_min ||= 0 %>, <%= @filter.age_max ||= 30 %> ],
            slide: function( event, ui ) {
                $( "#idea_age_min" ).val( ui.values[ 0 ] );
                $( "#idea_age_max" ).val( ui.values[ 1 ] );
            }
        });
        $( "#idea_age_min" ).val( $( "#slider-age" ).slider( "values", 0 ) );
        $( "#idea_age_max" ).val( $( "#slider-age" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#slider-group-size" ).slider({
            range: true,
            min: 0,
            max: 50,
            values: [ <%= @filter.group_size_min ||= 0 %>, <%= @filter.group_size_max ||= 50 %> ],
            slide: function( event, ui ) {
                $( "#idea_group_size_min" ).val( ui.values[ 0 ] );
                $( "#idea_group_size_max" ).val( ui.values[ 1 ] );
            }
        });
        $( "#idea_group_size_min" ).val( $( "#slider-group-size" ).slider( "values", 0 ) );
        $( "#idea_group_size_max" ).val( $( "#slider-group-size" ).slider( "values", 1 ) );
    });
</script>

<div class="form-group optional idea_group_size col-sm-6">
  <div class="row col-sm-12">
      <label for="group_size" class="optional control-label">Grppengrösse:</label>
      <input type="text" id="idea_group_size_min" name="filter[group_size_min]" style="border:0; color:#f6931f; font-weight:bold; width: 20px; text-align: right"> -
      <input type="text" id="idea_group_size_max" name="filter[group_size_max]" style="border:0; color:#f6931f; font-weight:bold; width: 20px">
  </div>
  <div class="row col-sm-12">
    <div id="slider-group-size"></div>
  </div>
</div>

<div class="form-group optional idea_age col-sm-6">
  <div class="row col-sm-12">
    <label for="age" class="optional control-label">Alter der Kinder:</label>
    <input type="text" id="idea_age_min" name="filter[age_min]" style="border:0; color:#f6931f; font-weight:bold; width: 20px; text-align: right"> -
    <input type="text" id="idea_age_max" name="filter[age_max]" style="border:0; color:#f6931f; font-weight:bold; width: 20px">
  </div>
  <div class="row col-sm-12">
    <div id="slider-age"></div>
  </div>
</div>
