<script>
    $(function() {
        $( "#slider-age" ).slider({
            range: true,
            min: 0,
            max: 30,
            values: [ <%= @idea.age_min ||= 5 %>, <%= @idea.age_max ||= 10 %> ],
            slide: function( event, ui ) {
                $( "#idea_age_min" ).val( ui.values[ 0 ] );
                $( "#idea_age_max" ).val( ui.values[ 1 ] );
            }
        });
        $( "#idea_age_min" ).val( $( "#slider-age" ).slider( "values", 0 ) );
        $( "#idea_age_max" ).val( $( "#slider-age" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#slider-group-size" ).slider({
            range: true,
            min: 0,
            max: 50,
            values: [ <%= @idea.group_size_min ||= 1 %>, <%= @idea.group_size_max ||= 10 %> ],
            slide: function( event, ui ) {
                $( "#idea_group_size_min" ).val( ui.values[ 0 ] );
                $( "#idea_group_size_max" ).val( ui.values[ 1 ] );
                if (ui.values[1] == 50) $( "#idea_group_size_max" ).val("unlimitiert")
            }
        });
        $( "#idea_group_size_min" ).val( $( "#slider-group-size" ).slider( "values", 0 ) );
        $( "#idea_group_size_max" ).val( $( "#slider-group-size" ).slider( "values", 1 ) );
    });
</script>

<div class="form-group optional idea_group_size">
    <label for="group_size" class="optional control-label col-sm-2">Grppengrösse:</label>
    <div class="col-sm-8">
        <input type="text" id="idea_group_size_min" name="idea[group_size_min]" style="border:0; color:#f6931f; font-weight:bold; width: 20px; text-align: right"> -
        <input type="text" id="idea_group_size_max" name="idea[group_size_max]" style="border:0; color:#f6931f; font-weight:bold; width: 20px">
        <div id="slider-group-size"></div>
    </div>
</div>

<div class="form-group optional idea_age">
  <label for="age" class="optional control-label col-sm-2">Alter der Kinder:</label>
  <div class="col-sm-8">
    <input type="text" id="idea_age_min" name="idea[age_min]" style="border:0; color:#f6931f; font-weight:bold; width: 20px; text-align: right"> -
    <input type="text" id="idea_age_max" name="idea[age_max]" style="border:0; color:#f6931f; font-weight:bold; width: 20px">
    <div id="slider-age"></div>
  </div>
</div>
