<h1>Listing ideas</h1>

<%= link_to t(:new_idea), new_idea_path %>

<table>
  <tr>
    <th>Titel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to idea.title, idea %></td>
        <td><%= link_to edit_idea_path(idea) do %><span class="glyphicon glyphicon-pencil green"></span><% end %></td>
        <td><%= link_to idea_path(idea), method: :delete, data: { confirm: t(:sure?) } do %><span class="glyphicon glyphicon-remove red"></span><% end %></td>
      </tr>
  <% end %>
</table>