<p>
  <strong>Comment:</strong>
  <%= comment.text %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.idea, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>