<p>
    <strong><%= comment.user.name %>:</strong>
    <%= comment.text %>

    <% if comment_owner?(comment.id) %>
        <%= link_to [comment.idea, comment], method: :delete, data: { confirm: t(:sure?) } do %><span class="glyphicon glyphicon-remove red"></span><% end %>
    <% end %>
</p>