<% provide(:title, 'Alle Benutzer') %>
<h1>Alle Benutzer</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
    <th>Rechte</th>
    <% if admin? %>
        <th>Aktionen</th>
    <% end %>
  </tr></thead>

  <%= render @users %>
</table>

<%= will_paginate %>