// Override Variables
$font-family-sans-serif:  "Century Gothic", Arial, sans-serif !default;
$font-family-serif:       Century, Times, serif !default;

// import the CSS framework
@import "bootstrap";

// make all images responsive by default
//img {
//  @extend .img-responsive;
//  margin: 0 auto;
//}

.beta {
  color: red;
  font-size: 0.7em;
  font-weight: normal;
}

.navbar-brand {
  font-size: 1.7em;
  font-weight: bold;

  &:hover {
    color: darkgrey;
  }
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  padding-bottom: 80px;
  //width: 100%;
  margin-top: 60px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}


// other
a.glyphicon:hover {
  text-decoration: none;
}