/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$jublaBlue: #1c3f94;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* */
.center {
  text-align: center;
}

h1 {
  font-weight: bold;
}

h2 {
  color: gray;
}

.redactor_box {
  resize: vertical;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: grayLight;
  a {
    color: gray;
    &:hover {
      color: grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */
.has-error {
  .help-inline {
    color: #a94442;
  }
}


/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid grayLighter;
    &:last-child {
      border-bottom: 1px solid grayLighter;
    }
  }
}

/* ideas */
.show_idea {
  .row {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px lightgray solid;
    &:hover {
      background-color: #eeeeee;
    }
  }

  header {
    font-weight: bold;
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* color classes */
.red { color: red }
.green { color: green }
.blue { color: blue }
.gray { color: gray }
.lightgray { color: lightgray }