#form-idea {
  label {
    font-weight: bold;
  }

  .input-minutes {
    input[type="number"] {
      width: 50px;
      margin-right: 5px;
    }
    label {
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
      font-weight: normal;
    }
  }
  .checkbox {
    margin-left: 20px;
    display: inline-table;

    input[type="checkbox"] {
      float: none;
      vertical-align: top;
    }
    label {
      display: inline;
      margin-left: 5px;
      margin-right: 15px;
      font-weight: normal;
    }
  }
  .checkboxes-method .checkbox { width: 150px }
  .checkboxes-age .checkbox { width: 70px }
  .checkboxes-activity .checkbox { width: 70px }
  .checkboxes-season .checkbox { width: 70px }
  .checkboxes-group-size .checkbox { width: 30px }
  .checkboxes-location .checkbox { width: 70px }

  tr {
    vertical-align: top;
    text-align: left;
  }
  th {
    padding-right: 10px;
  }
  td {
    padding-right: 10px;
  }
  td[colspan="3"] {
    input[type="text"] {
      width: 400px;
    }
  }
}