<footer class="footer">
  <small>
    <a href="http://www.releibrugg.ch/">GruppenstundenDB</a>
    by Ivo Nussbaumer
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://www.releibrugg.ch/">Relei Brugg</a></li>
    </ul>
  </nav>
</footer>